import { useWallet, WalletStatus } from '@terra-money/wallet-provider';
import Header from '../components/Header';
import Button from '../components/Button';
import Navbar from '../components/Navbar';
import Main from '../components/Main';
import TitledContainer from '../components/TitledContainer';
import RoundedContainer from '../components/RoundedContainer';
import AthleteGrid from '../components/AthleteGrid';
import Roundedinput from '../components/Roundedinput';
import AthleteContainer from '../components/AthleteContainer';

export default function Home() {
  const { status, connect, disconnect, availableConnectTypes } = useWallet();

  const interactWallet = () => {
    if (status === WalletStatus.WALLET_CONNECTED) {
      disconnect();
    } else {
      connect(availableConnectTypes[1]);
    }
  };

  return (
    <>
      <div className="flex flex-row h-screen">
        <Navbar color="indigo-light">

          <img src="https://picsum.photos/200/100" alt="Italian Trulli"></img>

          <Button color="violet" saturation="0" textColor="white-light" textSaturation="500" size="py-1 px-6">Dashboard</Button>
          <Button color="white" saturation="0" textColor="white-light" textSaturation="500" size="py-1 px-6">Portfolio</Button>
          <Button color="white" saturation="0" textColor="white-light" textSaturation="500" size="py-1 px-6">Packs</Button>
          <Button color="white" saturation="0" textColor="white-light" textSaturation="500" size="py-1 px-6">Marketplace</Button>
        </Navbar>

        <div className="flex flex-col w-5/6">
          <Header>
            <div className="bg-black flex flex-row rounded-sm">

              <Button rounded="rounded-sm " textColor="white-light" color="indigo-light" onClick={interactWallet} size="py-1 px-6">
                {status === WalletStatus.WALLET_CONNECTED ? 'Disconnect Wallet' : 'Connect Wallet'}
              </Button>
              <Button rounded="rounded-sm" color="blue" saturation="100" className="h-12 w-10 flex items-center justify-center" />

            </div>

          </Header>



          <Main color="indigo-dark">


            <div className="flex flex-row  w-full h-2/6">
              <TitledContainer title="DASHBOARD">
                <RoundedContainer color="indigo-light">content</RoundedContainer>
              </TitledContainer>
              <TitledContainer align="justify-start" title="WALLET">
                <RoundedContainer>content</RoundedContainer>
              </TitledContainer>
            </div>

            <div className="flex flex-row  w-full h-2/6">
              <TitledContainer className=" flex w-1/2" title="GAME RESULTS">
                <RoundedContainer>content</RoundedContainer>
              </TitledContainer>
              <TitledContainer align="justify-start" className=" flex w-1/2 justify-start" title="TOP PERFORMERS">
                <AthleteGrid>
                  <AthleteContainer AthleteName="STEPHEN CURRY" TeamName="GOLDEN STATE WARRIORS" CoinValue="420 UST"></AthleteContainer>
                  <RoundedContainer>bant</RoundedContainer>
                  <RoundedContainer>bant</RoundedContainer>
                  <RoundedContainer>bant</RoundedContainer>
                </AthleteGrid>
              </TitledContainer>
            </div>

          </Main>

        </div>



      </div>
    </>
  );
}
